# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


.vs/
# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# CMAKE
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
out/

# Moamen's setups
.vscode/
*.tlog
*.log
x64/
build/
VKRendererProto.dir/
ALL_BUILD.vcxproj*
VKRendererProto.sln*
VKRendererProto.vcxproj*
ZERO_CHECK.vcxproj*
.editorconfig

vulkan/
RUN_TESTS.vcxproj
RUN_TESTS.vcxproj.filters

# SPIR-V shaders binary files
*.spv
